export(sgev_start)
export(sgev_update)
export(sgev_fit)
export(sgev_box)
export(sgev_contrast)
export(sgev_convex)
export(sgev_sgpv)
export(sgev_information)
export(sgev_partition)
export(sgev_scalar)
importFrom(stats,optim)
